.create-table {
  border-right: 1px solid var(--color-neutral-3);
  border-radius: var(--border-radius-medium) var(--border-radius-medium) 0 0;
}

.create-table table {
  width: 100%;
}

.create-table table tbody tr:hover .operate {
  visibility: visible;
  opacity: 1;
}

.create-table table tr {
  position: relative;
}

.create-table table th {
  font-weight: 400;
  box-sizing: border-box;
  padding: 9px 0;
  color: rgb(var(--gray-10));
  border-top: 1px solid var(--color-neutral-3);
  border-bottom: 1px solid var(--color-neutral-3);
  border-left: 1px solid var(--color-neutral-3);
  background-color: var(--color-neutral-2);
}

.create-table table td {
  box-sizing: border-box;
  text-align: center;
  color: rgb(var(--gray-10));
  border-bottom: 1px solid var(--color-neutral-3);
  border-left: 1px solid var(--color-neutral-3);
}

.create-table table .edit-box {
  position: relative;
  height: 60px;
  padding: 0;
}

.create-table table .edit-box .num {
  display: flex;
  align-items: center;
  flex: 1;
  flex-direction: row;
  justify-content: center;
  border-left: 1px solid var(--color-neutral-3);
}

.create-table table .edit-box .num:first-child {
  border: none;
}

.create-table table .edit-box .num:nth-child(4) {
  border-color: rgba(var(--primary-6), 0.4);
}

.create-table table .edit-box .num:nth-child(7) {
  border-color: rgba(var(--primary-6), 0.4);
}

.create-table table .edit-box .num:nth-child(10) {
  border-color: rgba(var(--danger-6), 0.4);
}

.create-table table .edit-box .edit {
  position: absolute;
  top: 0;
  visibility: hidden;
  width: 100%;
  opacity: 0;
}

.create-table table .edit-box .edit .arco-select-view,
.create-table table .edit-box .edit .arco-input,
.create-table table .edit-box .edit .arco-input-inner-wrapper {
  height: 60px;
  line-height: 60px;
}

.create-table table .edit-box .show {
  display: flex;
  visibility: visible;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.create-table table .active .edit {
  visibility: visible;
  opacity: 1;
}

.create-table table .active .show {
  visibility: hidden;
  opacity: 0;
}

.create-table .empty {
  padding: 40px;
}

.create-table .operate {
  position: absolute;
  top: 0;
  left: -36px;
  visibility: hidden;
  width: 36px;
  transition: all 0.3s;
  opacity: 0;
}

.create-table .operate .btn {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 60px;
  gap: 6px;
}
